// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, head, title, #welcome {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

#welcome, body {
    background-color: #f3eba5;
    background-position: cover;
}

#welcome h1 {
    color: DarkBlue;
}
